html {
    font-size: 16px;
    --base-width: 160px;
    --base-gap: 0.5rem;
}

body {
    margin: 0;
    padding: 0;
}

.h1 {
    text-align: center;
}
#app {
    margin: 1rem auto;
    max-width: 640px;
}

.reset-button {
    cursor: pointer;
    display: block;
    margin: 1rem auto;
}

.reset-button {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    text-align: center;
    border-radius: 0.2rem;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
/* .reset-button:focus-visible {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transition: box-shadow .2s;
} */
.reset-button:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
}
.reset-button:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

.cards {
    padding: var(--base-gap);
    display: grid;
    grid-template-columns: repeat(4, var(--base-width));
    grid-template-rows: 160px;
    gap: var(--base-gap);
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .cover {
            --polyfill: 5px;
            /* Layout */
            width: calc( var(--base-width) + var(--polyfill) );
            height: calc( var(--base-width) + var(--polyfill) );
            position: absolute;
            top: calc( var(--polyfill) * -1 );
            /* Styling */
            border: #00205B solid 1px;
            border-radius: 0.5rem;
            cursor: pointer;
            /* background */
            background-color: #BF0D3E;  
            background-image: url("../assets/poker.svg");
            background-size: cover;
        }
        .flipped {
            visibility: hidden;
            cursor: default;
        }
    }
}

.cards .item img {
    border-radius: 0.5rem;
}

/* 花紋 */
.cards .item .game-card {
    .cover {
        .star {
            /* ☆ */
            content: "";
            display:inline-block;
            width: 1.4rem;
            height: 1.4rem;
            font-size: 1rem;
            color: #FFF;
            background-color: #FFF;
            transform: rotate(45deg);
            margin: 0.7rem;
        }
        .strip {
            display: inline-block;
            width: 60%;
            height: 10px;
            background-color: #FFF;
            transform: rotate(315deg);
            position: relative;
            right: 3.4rem;
        }
        .triangle {
            display: inline-block;
            width: 0;
            height: 0;
            --asd: 9px;
            border-top: var(--asd) solid transparent;
            border-bottom: var(--asd) solid transparent; 
            border-right: var(--asd) solid #FFF;
            position: relative;
            bottom: 2.2rem;
            right: 4.76rem;
        }
    }
}

/* 煙花: https://codepen.io/pusuluri_sri/pen/XWKKVEL */
body.win {
    overflow: hidden;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
body {
    transition: background-color 0.6s;
    background-color: transparent;
}
body.win {
    transition: background-color 0.6s;
    background-color: #000;
}
/* opacity transition */
body .modal {
    transition: opacity 1s;
    opacity: 0%;
    display: none;
}
body.win .modal {
    opacity: 100%;
    display: block;
}
body.win .swal2-container.swal2-backdrop-show,
body.win .swal2-container.swal2-noanimation {
    background: transparent;
}

.pyro>.before,
.pyro>.after {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro>.after {
    animation-delay: 1.25s, 1.25s, 1.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}

@keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
    }
}

@keyframes gravity {
    to {
      transform: translateY(200px);
      opacity: 0;
    }
}

@keyframes position {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
  
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
  
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
  
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
  
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
}
